<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/img/ticket-icon.png" alt="" width="30">
        </a>
        <a class="navbar-brand" href="#">GOTY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/inicio">Inicio</a>
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/goty">Votar</a>
            </div>
        </div>
    </div>
</nav>
